<a href="https://colab.research.google.com/github/Chonthichasi/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **สมาชิก emulete**

- นางสาว ณัฐธิดา  เมยดง 623020435-1 STAT

- นางสาว ชลธิชา ศาลางาม 623020518-7 SI

- นางสาว นัจนันท์ ศรีสิน  623021002-7 STAT

# โจทย์

ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx

( ดาวน์โหลดจากhttps://drive.google.com/drive/folders/1D_Z0fjTki6U6ECbgh2V3wBOSdOXS81YT?fbclid=IwAR2TOFCt16PG2k9xeKIA7jnTEm63uTzd3nRacpzhJEp3d3-6QCtWz3tQskw ) )

โดยข้อมูลหลักจะอยู่ใน ตาราง alldb.csv (ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้ต้องมีค่าใน column ต่อไปนี้ดังนี้
- user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
- RowKey เป็น String
- date เป็น YYYY-MM-DD
- phone เป็น String
- site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
- time เป็น hh-mm-ss
- urine มีค่า String
- ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)
- PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx
โดยข้อมูลสำคัญที่ต้องแสดงคือ
- จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)
- ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
- อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))

# นำเข้าข้อมูล alldb.csv

In [ ]:
import pandas as pd # ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os # จัดการไฟล์และpath ที่นำเข้า

In [ ]:
from google.colab import drive # เชื่อมgoogle drive
drive.mount('/content/drive') 
path='/content/drive/My Drive/Final data 2022'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = pd.read_csv(os.path.join(path,'alldb.csv')) #อ่านไฟล์ csv เเล้วชี้ไปที่ไฟล์ alldb.csv
data # เรียกดูตาราง

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

## ตรวจสอบว่ามีค่า Missing หรือไม่

In [ ]:
data.isnull().any() #ดูค่า Missing รายคอลัมน์ของตาราง data
#เนื่องจากมี True เกือบทุกคอลัมน์ แสดงว่ามีค่าที่เป็น Missing

Unnamed: 0      False
user             True
RowKey           True
care             True
date             True
ov               True
phone            True
site             True
time             True
urine            True
pid              True
PartitionKey     True
title            True
age              True
dtype: bool

## เลือกเฉพาะคอลัมน์ที่ต้องการ

In [ ]:
data_all = data[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey','title','age']] # เลือกเฉพาะคอลัมน์ที่ต้องการ คือ user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title เเละ age
data_all # เรียกดูตารางข้อมูล data_all

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN,data is not completed,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี,data is not completed,data is not completed
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

## user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [ ]:
data_alldb = data_all[(data_all['user'].astype(str).str.isdigit())& (data_all['user'].str.len() == 5)]  # สร้างตัวแปร data_alldb มารับคอลัมน์ user โดยใช้คำสั่ง str.isdigit() เพื่อตรวจสอบว่าเป็นตัวเลขหรือไม่ เเละเปลียนคอลัมน์ user เป็นตัวเลข 5 หลัก
data_alldb

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN
40017,12345,zgvicawbkg.png,NaN,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),2,xxxxx,NaN,NaN

## ตรวจสอบว่ามีค่า Missing หรือไม่

In [ ]:
data_alldb.isnull().any() #ดูค่า Missing รายคอลัมน์ของตาราง data_user
#พบว่าคอลัมน์ user เป็นค่า False เเสดงว่า ไม่มีค่า Missing

user            False
RowKey          False
date             True
phone           False
site             True
time             True
urine            True
ov               True
PartitionKey     True
title            True
age              True
dtype: bool

In [ ]:
set(data_alldb['user']) # เรียกดู set ข้อมูลของ user

{'28961',
 '58870',
 '71781',
 '00182',
 '68112',
 '11282',
 '76014',
 '95104',
 '64081',
 '07644',
 '49413',
 '10046',
 '11891',
 '55865',
 '25466',
 '00351',
 '18873',
 '73038',
 '00292',
 '98156',
 '52227',
 '00065',
 '34585',
 '14884',
 '46960',
 '09582',
 '74338',
 '00117',
 '11522',
 '00134',
 '02594',
 '65075',
 '61044',
 '14106',
 '04402',
 '18253',
 '44805',
 '00212',
 '45701',
 '00123',
 '62059',
 '00185',
 '78054',
 '01882',
 '74375',
 '02990',
 '79028',
 '70810',
 '00302',
 '67961',
 '74394',
 '12413',
 '81529',
 '54100',
 '82822',
 '80481',
 '00055',
 '71872',
 '53510',
 '00131',
 '86474',
 '00146',
 '00029',
 '63910',
 '81095',
 '00269',
 '87218',
 '69681',
 '00007',
 '70948',
 '75579',
 '34988',
 '54538',
 '36362',
 '98488',
 '90571',
 '63477',
 '29000',
 '44502',
 '00173',
 '69428',
 '38771',
 '00305',
 '61087',
 '00018',
 '16970',
 '18527',
 '71970',
 '32171',
 '05113',
 '00171',
 '54761',
 '19273',
 '00108',
 '94494',
 '89470',
 '46775',
 '23186',
 '05374',
 '04347',
 '54932',
 '14255',
 '33869',
 '31229',
 '12041',
 '86601',
 '00016',
 '98080',
 '01861',
 '50802',
 '15678',
 '45593',
 '24375',
 '68037',
 '93020',
 '00006',
 '35178',
 '03359',
 '46732',
 '53920',
 '58814',
 '43791',
 '92893',
 '39959',
 '92756',
 '88023',
 '00172',
 '07331',
 '40865',
 '21831',
 '51235',
 '11611',
 '21045',
 '45783',
 '08734',
 '77572',
 '65678',
 '26990',
 '90257',
 '17055',
 '23796',
 '74493',
 '00748',
 '00014',
 '23554',
 '19699',
 '00074',
 '83276',
 '02263',
 '84768',
 '05019',
 '46951',
 '15731',
 '75911',
 '19527',
 '26859',
 '66771',
 '51653',
 '00324',
 '45729',
 '00215',
 '17191',
 '00140',
 '02639',
 '89576',
 '17842',
 '01408',
 '68768',
 '93509',
 '63284',
 '93991',
 '39342',
 '00078',
 '26651',
 '16783',
 '81409',
 '92073',
 '18181',
 '38522',
 '16247',
 '00204',
 '19852',
 '26604',
 '39448',
 '41182',
 '00297',
 '00343',
 '00295',
 '01942',
 '70455',
 '05291',
 '29271',
 '49741',
 '00319',
 '49103',
 '21432',
 '22119',
 '42453',
 '76523',
 '39539',
 '65254',
 '05663',
 '00015',
 '71417',
 '86721',
 '50911',
 '51310',
 '33103',
 '00309',
 '29159',
 '00267',
 '20435',
 '51039',
 '35942',
 '90343',
 '25403',
 '78257',
 '00159',
 '53943',
 '12022',
 '75841',
 '25829',
 '01248',
 '02604',
 '50624',
 '90770',
 '48956',
 '10264',
 '23675',
 '01461',
 '48768',
 '00341',
 '25219',
 '00121',
 '47844',
 '05974',
 '18733',
 '42098',
 '14767',
 '29309',
 '05507',
 '53333',
 '06655',
 '33503',
 '86271',
 '02862',
 '80673',
 '33121',
 '97770',
 '00177',
 '00353',
 '74747',
 '63039',
 '70957',
 '24468',
 '00328',
 '50332',
 '52724',
 '22478',
 '00271',
 '59721',
 '24229',
 '93189',
 '50756',
 '00196',
 '00902',
 '63091',
 '75771',
 '19265',
 '22244',
 '84540',
 '53481',
 '65509',
 '00781',
 '32625',
 '99250',
 '00216',
 '00284',
 '96481',
 '00019',
 '74782',
 '13824',
 '08242',
 '03663',
 '03731',
 '16022',
 '66205',
 '57954',
 '13073',
 '67379',
 '00198',
 '63306',
 '05039',
 '77358',
 '86758',
 '50291',
 '86050',
 '17769',
 '82777',
 '80382',
 '52210',
 '60250',
 '00005',
 '37732',
 '67864',
 '18513',
 '41340',
 '31283',
 '05219',
 '13312',
 '30041',
 '00176',
 '00090',
 '00394',
 '14390',
 '54679',
 '05211',
 '14771',
 '07556',
 '13070',
 '87733',
 '78486',
 '19911',
 '55239',
 '74964',
 '00296',
 '00046',
 '03953',
 '45846',
 '97281',
 '55075',
 '46291',
 '00286',
 '63748',
 '22377',
 '18890',
 '71813',
 '30283',
 '00218',
 '55430',
 '82582',
 '88942',
 '35605',
 '48016',
 '97016',
 '25683',
 '00148',
 '00299',
 '20606',
 '73381',
 '11742',
 '59266',
 '83733',
 '41000',
 '32891',
 '78673',
 '92747',
 '19241',
 '09617',
 '51403',
 '79322',
 '32831',
 '89081',
 '25943',
 '25331',
 '00291',
 '00013',
 '09343',
 '00306',
 '88459',
 '52481',
 '97308',
 '11165',
 '63606',
 '63880',
 '00268',
 '00280',
 '17777',
 '29476',
 '19591',
 '31208',
 '62616',
 '00352',
 '45876',
 '28977',
 '00253',
 '00155',
 '52665',
 '86483',
 '49901',
 '06436',
 '41921',
 '19578',
 '52147',
 '60909',
 '01850',
 '00020',
 '27589',
 '02784',
 '05228',
 '01721',
 '56044',
 '05063',
 '31133',
 '92415',
 '53045',
 '47354',
 '29796',
 '27129',
 '22688',
 '91167',
 '00318',
 '05047',
 '84494',
 '38778',
 '16321',
 '00188',
 '00298',
 '16754',
 '40828',
 '49961',
 '87067',
 '20690',
 '21378',
 '94019',
 '31982',
 '42055',
 '24559',
 '74103',
 '83303',
 '92241',
 '71378',
 '51501',
 '21688',
 '39802',
 '00116',
 '20847',
 '00048',
 '65664',
 '87337',
 '01730',
 '94558',
 '20454',
 '77743',
 '63767',
 '73336',
 '00051',
 '55354',
 '23738',
 '99884',
 '29441',
 '00035',
 '52678',
 '08236',
 '96431',
 '77509',
 '26574',
 '03617',
 '20380',
 '28241',
 '68006',
 '00251',
 '85879',
 '02728',
 '06790',
 '98126',
 '14835',
 '00193',
 '70610',
 '14667',
 '65388',
 '83771',
 '67093',
 '98260',
 '51474',
 '77726',
 '21955',
 '23231',
 '14088',
 '89681',
 '83943',
 '50951',
 '24032',
 '96417',
 '30016',
 '54923',
 '25128',
 '64671',
 '25837',
 '52912',
 '77576',
 '10993',
 '70290',
 '00195',
 '30121',
 '72988',
 '42465',
 '00211',
 '11027',
 '86113',
 '62491',
 '24641',
 '00290',
 '00129',
 '55365',
 '42682',
 '31143',
 '00026',
 '80374',
 '94406',
 '17982',
 '49387',
 '34829',
 '37915',
 '00144',
 '25659',
 '26477',
 '11055',
 '74840',
 '90516',
 '00624',
 '38547',
 '10992',
 '79920',
 '89329',
 '06271',
 '36001',
 '37186',
 '32873',
 '01183',
 '00124',
 '96099',
 '08011',
 '19800',
 '00047',
 '12015',
 '47429',
 '00113',
 '92691',
 '56051',
 '63200',
 '00278',
 '19624',
 '39103',
 '76475',
 '40059',
 '65953',
 '78731',
 '38381',
 '18737',
 '53076',
 '66780',
 '11387',
 '15734',
 '77706',
 '70492',
 '16174',
 '03831',
 '19201',
 '00025',
 '81197',
 '37551',
 '61325',
 '12966',
 '46897',
 '39593',
 '05069',
 '77782',
 '07203',
 '47858',
 '61591',
 '82685',
 '73251',
 '96630',
 '19855',
 '00001',
 '89251',
 '00059',
 '18769',
 '40551',
 '18008',
 '04857',
 '02091',
 '19875',
 '32451',
 '02087',
 '49161',
 '25593',
 '85504',
 '00141',
 '27096',
 '03523',
 '00260',
 '15930',
 '37408',
 '00178',
 '05038',
 '00279',
 '31196',
 '32999',
 '00166',
 '42228',
 '00320',
 '00409',
 '41026',
 '98290',
 '84005',
 '46415',
 '90070',
 '53356',
 '16604',
 '94538',
 '00049',
 '73000',
 '26469',
 '41061',
 '50172',
 '19762',
 '46481',
 '00027',
 '35888',
 '93671',
 '20215',
 '22354',
 '70940',
 '23885',
 '22456',
 '54614',
 '57066',
 '26445',
 '61587',
 '63485',
 '49596',
 '13361',
 '74523',
 '48493',
 '20061',
 '87394',
 '87697',
 '99475',
 '17938',
 '69576',
 '61182',
 '97965',
 '64211',
 '34409',
 '89381',
 '94087',
 '00022',
 '64503',
 '99734',
 '59181',
 '19180',
 '49634',
 '61121',
 '10348',
 '01883',
 '70054',
 '29514',
 '00307',
 '75838',
 '00071',
 '28330',
 '85753',
 '00202',
 '41951',
 '16820',
 '77811',
 '05358',
 '02102',
 '32468',
 '04387',
 '73876',
 '37228',
 '38822',
 '48042',
 '11007',
 '75126',
 '74378',
 '47593',
 '53579',
 '46948',
 '06924',
 '09529',
 '22692',
 '00079',
 '56004',
 '13088',
 '44018',
 '55873',
 '00149',
 '00192',
 '00036',
 '94135',
 '31582',
 '38614',
 '26531',
 '50047',
 '19808',
 '70196',
 '89195',
 '98245',
 '89837',
 '34096',
 '14189',
 '54599',
 '24986',
 '76105',
 '49215',
 '03080',
 '60879',
 '01651',
 '17966',
 '74861',
 '47146',
 '53188',
 '00004',
 '05182',
 '02663',
 '00076',
 '31755',
 '58718',
 '11887',
 '37826',
 '41937',
 '54788',
 '99011',
 '28381',
 '92120',
 '91438',
 '23811',
 '02230',
 '63564',
 '83659',
 '05210',
 '67280',
 '18025',
 '60688',
 '88708',
 '65632',
 '76819',
 '00235',
 '00114',
 '62768',
 '62070',
 '00088',
 '45914',
 '05151',
 '52219',
 '72330',
 '05152',
 '10518',
 '29051',
 '87541',
 '02853',
 '00170',
 '02693',
 '26199',
 '00002',
 '83662',
 '15801',
 '00158',
 '89475',
 '74345',
 '09902',
 '26811',
 '63852',
 '63323',
 '71228',
 '15229',
 '95193',
 '50284',
 '80336',
 '76459',
 '80463',
 '00081',
 '08818',
 '00272',
 '02647',
 '16971',
 '51689',
 '05304',
 '76096',
 '43257',
 '20951',
 '03100',
 '95821',
 '01762',
 '36593',
 '00221',
 '80253',
 '25478',
 '89801',
 '97255',
 '32622',
 '26916',
 '16675',
 '27658',
 '82277',
 '21177',
 '00207',
 '50004',
 '04991',
 '69789',
 '36358',
 '82894',
 '37691',
 '79066',
 '56326',
 '95291',
 '72186',
 '13978',
 '05849',
 '00357',
 '00109',
 '94392',
 '25071',
 '51205',
 '46970',
 '46520',
 '92648',
 '00138',
 '22804',
 '78960',
 '36390',
 '48440',
 '16112',
 '15737',
 '52066',
 '65656',
 '24179',
 '00230',
 '19237',
 '92220',
 '00283',
 '64520',
 '00152',
 '47623',
 '80364',
 '41301',
 '40886',
 '97913',
 '75061',
 '62061',
 '85934',
 '98509',
 '45641',
 '78231',
 '63068',
 '47494',
 '51903',
 '45531',
 '00169',
 '27604',
 '31534',
 '98171',
 '09226',
 '47950',
 '71998',
 '95127',
 '46285',
 '23596',
 '10673',
 '48274',
 '57099',
 '00191',
 '06283',
 '93307',
 '49424',
 '97505',
 '32796',
 '02579',
 '80979',
 '65995',
 '00966',
 '65321',
 '94150',
 '03500',
 '00205',
 '94454',
 '19211',
 '08773',
 '17277',
 '32591',
 '84459',
 '61095',
 '75921',
 '68856',
 '68317',
 '00145',
 '09820',
 '78494',
 '77587',
 '81472',
 '00755',
 '14360',
 '17974',
 '71921',
 '81065',
 '02897',
 '67212',
 '00315',
 '24612',
 '25923',
 '65390',
 '49241',
 '00042',
 '00122',
 '18865',
 '51241',
 '32310',
 '88135',
 '10982',
 '67972',
 '66473',
 '00189',
 '48255',
 '72364',
 '75835',
 '28402',
 '45884',
 '00011',
 '49178',
 '94881',
 '76088',
 '48514',
 '85737',
 '07166',
 '84055',
 '00404',
 '76386',
 '23214',
 '28627',
 '33739',
 '36481',
 '00910',
 '37249',
 '27046',
 '48710',
 '00312',
 '17564',
 '48069',
 '26647',
 '63098',
 '29999',
 '31114',
 '15980',
 '66801',
 '67400',
 '50466',
 '00233',
 '45680',
 '00201',
 '24491',
 '06079',
 '05961',
 '44888',
 '00209',
 '71112',
 '62962',
 '11198',
 '10534',
 '91811',
 '94601',
 '00282',
 '58196',
 '27732',
 '28186',
 '06223',
 '58993',
 '31762',
 '59051',
 '06277',
 '75519',
 '45563',
 '88337',
 '16848',
 '12723',
 '08777',
 '62459',
 '94414',
 '32082',
 '12044',
 '50837',
 '83937',
 '00147',
 '02889',
 '64612',
 '84187',
 '45161',
 '46662',
 '72483',
 '03263',
 '00321',
 '69431',
 '91209',
 '51795',
 '00165',
 '34322',
 '37140',
 ...}

## RowKey เป็น String

In [ ]:
data_alldb['RowKey'] = data_alldb['RowKey'].astype('str') # ใช้คำสั่ง .astype เปลียนชนิดข้อมูลเป็น String
data_alldb

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN
40017,12345,zgvicawbkg.png,NaN,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),2,xxxxx,NaN,NaN

## date เป็น YYYY-MM-DD

In [ ]:
data_alldb['date']=pd.to_datetime(data_alldb['date'], format='%Y-%m-%d') # 
data_alldb

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN
40017,12345,zgvicawbkg.png,NaT,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),2,xxxxx,NaN,NaN

In [ ]:
data_alldb.isnull().any() #ดูค่า Missing รายคอลัมน์ของตาราง data_alldb

user            False
RowKey          False
date             True
phone           False
site             True
time             True
urine            True
ov               True
PartitionKey     True
title            True
age              True
dtype: bool

In [ ]:
data_alldb['date'] = data_alldb[['date']].fillna(method="ffill")      
data_alldb.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed

In [ ]:
data_alldb.shape

(38508, 11)

In [ ]:
data_alldb.isnull().any() #ดูค่า Missing รายคอลัมน์ของตาราง data_alldb

user            False
RowKey          False
date            False
phone           False
site             True
time             True
urine            True
ov               True
PartitionKey     True
title            True
age              True
dtype: bool

## phone เป็น String

In [ ]:
data_alldb['phone'] = data_alldb['phone'].astype('str')
data_alldb.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed

In [ ]:
data_alldb.shape

(38508, 11)

## site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [ ]:
data_alldb = data_alldb[(data_all['site'].astype(str).str.isdigit())& (data_all['site'].str.len() == 5)]
data_alldb

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999,NaN,NaN

In [ ]:
set(data_alldb['site'])

{'00004',
 '00006',
 '00007',
 '00008',
 '00012',
 '00016',
 '00017',
 '00018',
 '00027',
 '00028',
 '00040',
 '00052',
 '00055',
 '00061',
 '00069',
 '00070',
 '00071',
 '00081',
 '00082',
 '00090',
 '00094',
 '00096',
 '00108',
 '00109',
 '00115',
 '00120',
 '00122',
 '00127',
 '00163',
 '00164',
 '00165',
 '00166',
 '00169',
 '00170',
 '00171',
 '00173',
 '00174',
 '00176',
 '00177',
 '00178',
 '00179',
 '00180',
 '00182',
 '00185',
 '00186',
 '00187',
 '00189',
 '00190',
 '00191',
 '00192',
 '00193',
 '00194',
 '00195',
 '00196',
 '00197',
 '00198',
 '00200',
 '00202',
 '00204',
 '00205',
 '00206',
 '00207',
 '00209',
 '00213',
 '00214',
 '00217',
 '00218',
 '00219',
 '00229',
 '00232',
 '00235',
 '00240',
 '00247',
 '00266',
 '00271',
 '00279',
 '00323',
 '00331',
 '00333',
 '00346',
 '00348',
 '00381',
 '00382',
 '00385',
 '00387',
 '00388',
 '00389',
 '00390',
 '00391',
 '00394',
 '00397',
 '00400',
 '00401',
 '00404',
 '00406',
 '00408',
 '00410',
 '00411',
 '00412',
 '00413',
 '00414',
 '00415',
 '00512',
 '00513',
 '00579',
 '00580',
 '00956',
 '01151',
 '02038',
 '02414',
 '02536',
 '02759',
 '03432',
 '03616',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04348',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05241',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05369',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05399',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05438',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '06521',
 '08485',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11111',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11740',
 '11748',
 '11749',
 '11800',
 '11887',
 '13377',
 '13777',
 '13937',
 '13941',
 '13943',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '13987',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '20510',
 '22222',
 '24622',
 '24650',
 '27988',
 '27990',
 '27998',
 '28017',
 '28691',
 '28789',
 '44902',
 '45972',
 '49741',
 '50210',
 '75757',
 '97255',
 '99795',
 '99999'}

## time เป็น hh-mm-ss

In [ ]:
data_alldb['time']=data_alldb['time'].replace(':','-',regex=True)
data_alldb

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10-50-32,NaN,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,"iPhone13,2",05248,10-14-46,NaN,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,"iPhone10,4",05310,11-14-21,NaN,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,"iPhone13,2",05248,10-14-32,NaN,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,"iPhone13,3",22222,17-39-35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,NaN,NaN

In [ ]:
set(data_alldb['time'])

{nan,
 '12-27-41',
 '09-53-36',
 '11-17-21',
 '14-55-32',
 '11-56-16',
 '17-11-59',
 '12-17-45',
 '14-45-28',
 '15-55-04',
 '15-00-25',
 '14-39-25',
 '13-40-19',
 '14-50-19',
 '16-22-20',
 '15-12-48',
 '12-57-33',
 '11-37-46',
 '14-36-25',
 '09-46-34',
 '16-56-30',
 '09-20-46',
 '11-38-52',
 '09-57-52',
 '11-12-46',
 '14-26-37',
 '16-02-32',
 '11-13-19',
 '13-26-16',
 '17-47-14',
 '15-25-39',
 '10-34-06',
 '09-42-08',
 '10-31-33',
 '11-05-43',
 '10-59-57',
 '16-03-36',
 '11-37-51',
 '11-37-26',
 '18-55-51',
 '12-46-17',
 '10-09-42',
 '15-00-04',
 '14-02-29',
 '12-20-38',
 '11-06-11',
 '12-39-51',
 '12-28-12',
 '14-08-50',
 '12-29-30',
 '10-41-29',
 '16-04-19',
 '23-01-22',
 '11-30-45',
 '13-51-45',
 '14-38-41',
 '11-56-01',
 '16-30-33',
 '16-46-17',
 '18-23-24',
 '11-44-19',
 '15-31-24',
 '14-22-47',
 '16-04-06',
 '12-04-12',
 '14-48-11',
 '15-20-23',
 '10-14-55',
 '12-08-35',
 '08-59-09',
 '09-38-23',
 '11-22-33',
 '14-27-51',
 '13-36-19',
 '10-26-25',
 '16-18-37',
 '12-13-30',
 '12-12-11',
 '14-25-28',
 '09-55-11',
 '17-09-40',
 '23-08-05',
 '11-02-57',
 '16-11-21',
 '12-03-50',
 '10-45-27',
 '14-12-20',
 '14-59-45',
 '11-48-13',
 '10-59-37',
 '09-12-40',
 '11-15-27',
 '10-40-45',
 '11-10-48',
 '12-24-42',
 '15-33-20',
 '10-26-42',
 '10-51-12',
 '11-31-52',
 '16-44-13',
 '09-29-37',
 '10-25-39',
 '15-10-12',
 '09-37-05',
 '16-19-11',
 '10-50-56',
 '14-44-18',
 '11-49-36',
 '12-11-10',
 '11-22-51',
 '10-32-33',
 '18-08-56',
 '22-38-13',
 '10-44-17',
 '16-28-01',
 '11-50-58',
 '10-47-08',
 '13-06-34',
 '10-07-29',
 '14-46-28',
 '11-55-14',
 '17-27-54',
 '14-16-26',
 '13-27-10',
 '15-21-09',
 '10-36-05',
 '17-53-50',
 '10-20-56',
 '15-48-40',
 '14-10-36',
 '13-04-19',
 '14-29-47',
 '15-10-48',
 '09-47-58',
 '15-16-46',
 '15-16-57',
 '11-30-55',
 '15-24-35',
 '10-00-14',
 '14-44-56',
 '17-27-38',
 '11-42-15',
 '15-45-34',
 '10-17-11',
 '14-58-55',
 '14-09-50',
 '11-58-11',
 '11-40-26',
 '15-08-18',
 '10-34-27',
 '12-24-28',
 '15-42-25',
 '10-43-05',
 '09-58-50',
 '13-52-23',
 '09-55-26',
 '16-58-17',
 '09-46-52',
 '22-42-07',
 '16-18-51',
 '13-01-54',
 '17-30-28',
 '10-23-01',
 '11-40-19',
 '13-52-13',
 '12-10-00',
 '14-21-11',
 '14-41-29',
 '09-40-56',
 '17-47-18',
 '16-17-38',
 '09-20-44',
 '10-10-07',
 '10-17-18',
 '16-47-42',
 '10-49-56',
 '15-13-51',
 '16-00-01',
 '11-40-09',
 '13-52-02',
 '10-59-38',
 '14-12-55',
 '14-40-49',
 '16-17-59',
 '16-39-22',
 '15-01-59',
 '09-19-35',
 '14-32-17',
 '12-11-19',
 '17-38-53',
 '18-08-03',
 '10-08-18',
 '16-57-07',
 '11-56-59',
 '11-49-33',
 '14-36-44',
 '15-18-09',
 '10-26-51',
 '16-43-35',
 '10-21-00',
 '12-03-27',
 '15-51-38',
 '13-39-00',
 '11-45-55',
 '16-02-19',
 '09-29-39',
 '11-33-08',
 '15-31-00',
 '16-53-17',
 '09-50-23',
 '11-20-46',
 '10-46-53',
 '11-34-44',
 '12-07-47',
 '12-26-43',
 '15-00-08',
 '10-33-58',
 '11-01-04',
 '14-55-48',
 '14-12-36',
 '11-23-22',
 '11-44-58',
 '09-57-18',
 '12-08-40',
 '11-32-20',
 '13-10-44',
 '17-14-16',
 '15-01-51',
 '09-55-13',
 '10-07-48',
 '10-24-35',
 '16-20-30',
 '11-41-30',
 '11-15-57',
 '11-54-08',
 '12-19-12',
 '12-05-52',
 '11-46-48',
 '15-38-04',
 '14-53-38',
 '11-39-46',
 '09-52-28',
 '13-51-42',
 '10-40-12',
 '19-22-16',
 '16-30-51',
 '11-58-03',
 '18-35-10',
 '15-34-21',
 '16-14-44',
 '10-46-40',
 '15-53-28',
 '15-59-17',
 '11-22-03',
 '11-00-09',
 '09-21-05',
 '14-22-57',
 '11-38-07',
 '12-22-26',
 '10-12-34',
 '18-01-45',
 '10-26-30',
 '11-16-30',
 '12-59-38',
 '09-25-19',
 '11-08-53',
 '15-26-33',
 '13-22-19',
 '13-58-24',
 '14-48-27',
 '10-25-54',
 '15-53-01',
 '16-44-50',
 '16-05-40',
 '09-38-46',
 '16-35-55',
 '18-21-34',
 '13-29-22',
 '14-41-42',
 '10-40-51',
 '15-14-43',
 '14-29-22',
 '17-01-44',
 '11-34-29',
 '09-40-48',
 '17-03-24',
 '11-00-57',
 '09-28-41',
 '13-40-02',
 '17-20-02',
 '10-50-30',
 '13-43-38',
 '13-21-54',
 '12-05-48',
 '10-17-42',
 '09-57-59',
 '10-48-52',
 '14-03-20',
 '12-34-07',
 '08-54-22',
 '14-35-02',
 '11-54-16',
 '13-10-09',
 '13-17-00',
 '14-47-20',
 '16-35-18',
 '12-12-40',
 '14-23-55',
 '15-26-14',
 '10-24-24',
 '14-31-42',
 '11-36-52',
 '12-33-01',
 '12-03-34',
 '11-31-13',
 '11-20-30',
 '13-13-06',
 '11-45-57',
 '10-15-35',
 '10-11-54',
 '15-41-46',
 '10-53-35',
 '14-37-03',
 '09-48-22',
 '16-22-43',
 '11-34-16',
 '13-29-36',
 '10-08-19',
 '10-59-43',
 '15-37-27',
 '09-09-01',
 '12-26-54',
 '17-16-37',
 '14-42-00',
 '12-20-04',
 '15-27-54',
 '16-21-44',
 '16-40-03',
 '16-40-48',
 '16-58-08',
 '14-44-40',
 '16-17-02',
 '14-38-25',
 '14-48-57',
 '14-42-12',
 '21-27-57',
 '12-20-50',
 '10-06-03',
 '14-07-31',
 '11-55-53',
 '10-55-24',
 '15-53-58',
 '16-03-06',
 '15-04-49',
 '16-47-13',
 '09-20-36',
 '14-47-47',
 '12-13-26',
 '16-26-28',
 '16-28-22',
 '10-15-21',
 '15-33-12',
 '10-38-03',
 '16-58-18',
 '12-45-44',
 '16-50-46',
 '14-42-38',
 '15-39-36',
 '20-01-19',
 '12-03-43',
 '15-30-47',
 '15-28-13',
 '17-35-11',
 '13-58-23',
 '14-05-05',
 '11-28-18',
 '15-05-03',
 '10-27-18',
 '15-35-19',
 '10-12-06',
 '19-45-25',
 '12-36-18',
 '12-32-43',
 '15-33-47',
 '11-28-54',
 '16-57-38',
 '10-32-29',
 '12-17-59',
 '13-57-03',
 '12-27-22',
 '10-17-44',
 '10-43-22',
 '11-49-12',
 '21-08-05',
 '10-56-14',
 '11-49-17',
 '13-38-47',
 '11-42-33',
 '17-38-33',
 '11-26-52',
 '09-56-50',
 '15-29-55',
 '15-48-50',
 '21-49-58',
 '10-40-14',
 '10-20-01',
 '16-05-26',
 '16-23-56',
 '09-21-25',
 '13-50-50',
 '15-26-40',
 '12-41-52',
 '09-59-07',
 '14-36-01',
 '10-44-37',
 '11-54-10',
 '16-05-56',
 '13-42-06',
 '15-09-54',
 '15-48-45',
 '15-05-37',
 '09-49-50',
 '08-46-59',
 '15-04-52',
 '10-11-52',
 '19-33-30',
 '13-08-25',
 '12-11-30',
 '15-48-29',
 '17-19-09',
 '13-18-37',
 '14-42-58',
 '19-16-21',
 '09-02-48',
 '21-49-46',
 '13-55-48',
 '15-00-16',
 '15-47-19',
 '14-34-02',
 '13-15-31',
 '10-46-29',
 '13-58-06',
 '10-42-12',
 '15-12-04',
 '12-14-36',
 '13-40-17',
 '09-05-45',
 '10-32-36',
 '09-35-18',
 '10-59-18',
 '15-50-20',
 '14-09-20',
 '10-36-26',
 '19-24-33',
 '14-21-23',
 '16-36-31',
 '15-21-32',
 '14-48-54',
 '12-46-13',
 '14-12-41',
 '10-23-37',
 '09-09-33',
 '09-45-18',
 '17-13-45',
 '10-40-05',
 '13-54-20',
 '09-16-04',
 '10-53-03',
 '10-24-15',
 '09-18-48',
 '22-15-28',
 '14-32-53',
 '10-29-56',
 '14-22-03',
 '14-25-52',
 '10-54-42',
 '16-10-31',
 '08-27-58',
 '17-05-32',
 '15-30-55',
 '09-19-11',
 '10-24-36',
 '11-03-12',
 '16-08-48',
 '11-30-29',
 '17-06-19',
 '14-37-32',
 '10-09-57',
 '15-11-05',
 '11-49-34',
 '09-56-39',
 '14-24-54',
 '14-00-55',
 '16-53-07',
 '13-33-27',
 '15-17-50',
 '09-51-21',
 '11-33-02',
 '12-05-18',
 '10-36-55',
 '16-24-24',
 '16-22-14',
 '10-08-08',
 '11-42-01',
 '09-36-54',
 '15-10-01',
 '10-42-07',
 '13-54-13',
 '19-53-33',
 '12-37-35',
 '10-38-00',
 '12-24-23',
 '20-36-57',
 '12-11-54',
 '16-28-13',
 '12-15-21',
 '10-31-09',
 '14-26-17',
 '10-48-13',
 '11-18-34',
 '13-52-28',
 '08-54-08',
 '12-47-18',
 '13-47-50',
 '12-20-12',
 '16-47-47',
 '10-27-48',
 '21-58-46',
 '11-00-27',
 '12-04-50',
 '10-29-01',
 '12-47-11',
 '15-27-43',
 '10-36-12',
 '15-02-27',
 '12-52-28',
 '14-16-08',
 '15-53-18',
 '15-16-03',
 '12-42-14',
 '12-32-46',
 '08-57-59',
 '18-30-38',
 '13-34-50',
 '09-36-45',
 '09-00-50',
 '12-48-44',
 '15-13-25',
 '08-56-45',
 '12-47-37',
 '10-21-15',
 '16-53-28',
 '21-04-18',
 '16-22-15',
 '10-54-59',
 '23-16-14',
 '14-14-05',
 '11-51-42',
 '11-46-11',
 '18-28-42',
 '10-18-57',
 '15-04-41',
 '09-05-19',
 '15-42-38',
 '14-51-40',
 '14-17-28',
 '09-15-33',
 '08-37-14',
 '09-27-07',
 '16-09-28',
 '14-51-13',
 '11-29-31',
 '09-56-51',
 '10-48-33',
 '13-20-24',
 '14-57-30',
 '10-18-40',
 '16-20-23',
 '16-52-11',
 '16-06-34',
 '13-56-50',
 '10-36-21',
 '15-37-39',
 '15-14-29',
 '16-00-19',
 '21-35-28',
 '14-01-38',
 '14-32-55',
 '09-41-27',
 '15-49-12',
 '09-50-55',
 '11-11-00',
 '14-02-40',
 '11-20-54',
 '13-53-41',
 '18-42-42',
 '10-01-20',
 '14-56-08',
 '12-17-00',
 '13-49-58',
 '18-04-12',
 '15-35-15',
 '13-03-55',
 '10-27-43',
 '14-24-27',
 '17-18-34',
 '19-18-26',
 '14-14-58',
 '13-26-19',
 '11-03-07',
 '14-26-22',
 '09-47-57',
 '13-36-52',
 '10-52-45',
 '11-17-38',
 '11-48-14',
 '15-44-51',
 '14-55-03',
 '14-12-22',
 '08-50-34',
 '16-57-28',
 '16-35-27',
 '12-27-30',
 '13-48-20',
 '12-17-47',
 '16-51-04',
 '11-37-00',
 '17-24-10',
 '10-58-23',
 '10-49-18',
 '14-00-45',
 '11-07-16',
 '11-25-09',
 '12-16-26',
 '15-29-16',
 '11-51-21',
 '15-39-04',
 '14-10-08',
 '12-51-15',
 '15-08-45',
 '11-53-11',
 '09-02-39',
 '12-10-01',
 '12-36-58',
 '10-24-08',
 '09-41-15',
 '10-21-25',
 '16-55-05',
 '09-24-32',
 '13-58-49',
 '11-18-25',
 '10-06-20',
 '13-29-57',
 '14-03-02',
 '14-18-34',
 '08-49-34',
 '11-14-59',
 '13-32-06',
 '06-45-51',
 '12-23-22',
 '17-39-15',
 '12-43-41',
 '16-48-38',
 '13-03-11',
 '09-45-12',
 '21-55-58',
 '14-26-05',
 '13-41-13',
 '11-46-55',
 '09-55-34',
 '15-03-23',
 '10-35-57',
 '17-05-42',
 '09-46-22',
 '13-48-46',
 '12-30-05',
 '15-59-24',
 '11-07-39',
 '15-22-06',
 '14-28-50',
 '14-10-38',
 '10-21-28',
 '15-10-25',
 '21-36-14',
 '13-44-11',
 '13-54-41',
 '16-54-02',
 '14-56-07',
 '09-26-48',
 '12-38-24',
 '11-10-00',
 '11-40-40',
 '11-31-02',
 '13-51-08',
 '16-48-05',
 '17-15-11',
 '16-44-49',
 '09-32-59',
 '10-21-35',
 '13-49-16',
 '15-27-09',
 '14-24-13',
 '10-16-31',
 '11-24-59',
 '13-50-59',
 '15-49-34',
 '12-00-38',
 '14-44-02',
 '10-54-02',
 '15-03-17',
 '13-48-38',
 '13-23-53',
 '11-40-36',
 '16-04-08',
 '11-58-42',
 '09-42-32',
 '11-16-49',
 '13-54-21',
 '09-47-26',
 '14-52-46',
 '15-43-33',
 '15-21-59',
 '16-07-23',
 '10-26-44',
 '10-51-40',
 '11-29-57',
 '19-26-51',
 '11-28-40',
 '10-32-56',
 '17-19-05',
 '10-28-11',
 '15-59-38',
 '21-15-57',
 '08-08-11',
 '10-28-01',
 '12-36-45',
 '15-22-31',
 '09-11-46',
 '14-43-23',
 '12-14-34',
 '10-16-02',
 '10-10-39',
 '14-55-46',
 '19-20-53',
 '15-45-37',
 '14-35-36',
 '10-20-26',
 '12-32-15',
 '14-31-08',
 '12-24-36',
 '13-33-33',
 '09-50-48',
 '15-49-50',
 '14-45-06',
 '12-40-38',
 '10-52-41',
 '13-39-27',
 '16-34-29',
 '09-07-31',
 '14-34-49',
 '12-09-57',
 '11-25-36',
 '12-38-35',
 '14-52-03',
 '11-03-13',
 '10-51-24',
 '14-03-52',
 '16-47-21',
 '12-05-45',
 '14-27-01',
 '12-26-18',
 '11-34-21',
 '16-15-47',
 '13-14-16',
 '18-44-02',
 '08-39-50',
 '10-16-41',
 '11-44-18',
 '17-02-36',
 '09-24-21',
 '17-56-03',
 '14-38-48',
 '10-08-38',
 '10-28-10',
 '09-34-58',
 '10-42-54',
 '12-14-16',
 '16-56-17',
 '15-47-21',
 '16-02-43',
 '09-53-30',
 '11-13-23',
 '11-39-51',
 '09-59-12',
 '10-54-29',
 '10-56-58',
 '10-24-50',
 '09-48-27',
 '16-13-26',
 '09-18-39',
 '16-40-45',
 '15-04-05',
 '10-06-52',
 '11-41-23',
 '14-30-09',
 '18-12-25',
 '14-46-45',
 '15-11-12',
 '14-26-20',
 '10-43-20',
 '14-24-20',
 '12-09-34',
 '09-24-24',
 '14-47-21',
 '09-57-33',
 '10-17-09',
 '09-49-16',
 '16-42-00',
 '11-59-16',
 '10-16-26',
 '10-16-51',
 '17-45-42',
 '14-31-54',
 '18-53-37',
 '11-40-54',
 '17-38-38',
 '13-59-46',
 '10-39-45',
 '10-52-56',
 '12-30-37',
 '12-58-14',
 '14-26-28',
 '14-17-50',
 '14-44-21',
 '15-01-55',
 '16-48-24',
 '12-53-31',
 '11-46-30',
 '14-55-34',
 '10-47-04',
 '16-14-48',
 '14-49-19',
 '16-43-00',
 '18-32-15',
 '17-58-57',
 '18-51-30',
 '12-22-49',
 '10-17-33',
 '16-25-27',
 '13-05-33',
 '11-52-45',
 '09-39-52',
 '11-53-58',
 '10-53-04',
 '15-57-35',
 '13-44-47',
 '09-05-35',
 '09-09-49',
 '13-17-53',
 '10-37-11',
 '10-06-25',
 '15-19-03',
 '12-36-29',
 '10-54-25',
 '10-42-36',
 '12-16-14',
 '14-47-55',
 '13-09-59',
 '12-13-39',
 '16-27-33',
 '13-58-35',
 '16-22-30',
 '10-08-25',
 '10-22-00',
 '11-44-38',
 '16-54-49',
 '11-52-03',
 '11-15-12',
 '11-48-24',
 '14-48-05',
 '18-13-53',
 '11-51-43',
 '19-28-37',
 '09-04-44',
 '09-47-13',
 '10-43-35',
 '11-12-55',
 '09-25-44',
 '11-30-44',
 '10-13-27',
 '16-33-14',
 '09-28-44',
 '16-52-35',
 '13-17-44',
 '12-21-35',
 '22-03-31',
 '10-03-15',
 '15-26-22',
 '11-53-53',
 '10-42-09',
 '18-04-54',
 '13-41-54',
 '15-32-12',
 '12-51-53',
 '15-09-23',
 '11-48-49',
 '11-58-20',
 '12-18-25',
 '10-21-40',
 '09-13-03',
 '09-24-27',
 '09-38-10',
 '16-42-48',
 '13-54-38',
 '19-07-07',
 '15-20-32',
 '14-22-01',
 '10-37-43',
 '13-10-42',
 '15-34-16',
 '14-48-37',
 '15-35-04',
 '16-52-45',
 '11-45-14',
 '15-01-33',
 '11-10-10',
 '12-31-07',
 '14-03-59',
 '13-34-43',
 '13-20-40',
 '15-40-05',
 '12-24-32',
 '09-26-20',
 '09-32-23',
 '11-26-53',
 '14-19-44',
 '16-55-10',
 '11-18-53',
 '12-23-52',
 '09-16-47',
 '08-20-27',
 '12-14-05',
 '19-03-30',
 '12-25-42',
 '15-23-00',
 '16-50-05',
 '17-32-20',
 '09-26-57',
 '16-13-03',
 '12-26-40',
 '08-35-37',
 '12-34-46',
 '10-34-50',
 '11-45-48',
 '15-32-59',
 '17-38-26',
 '19-38-38',
 '10-06-39',
 '09-49-58',
 '19-46-29',
 '15-02-32',
 '12-31-27',
 '12-24-17',
 '10-26-05',
 '10-15-45',
 '13-08-19',
 '12-20-53',
 '15-07-40',
 '16-08-04',
 '10-56-37',
 '08-59-59',
 '15-11-56',
 '15-22-11',
 '17-10-00',
 '10-17-41',
 '11-50-47',
 '16-56-36',
 '11-15-00',
 '11-56-36',
 '14-55-15',
 '09-51-43',
 '11-17-47',
 '14-59-09',
 '10-05-08',
 '08-47-19',
 '11-45-47',
 '12-08-44',
 '14-05-24',
 '18-27-46',
 '14-05-02',
 '15-57-33',
 '18-04-38',
 '14-13-21',
 '13-33-06',
 '12-21-43',
 '10-23-23',
 '10-26-59',
 '17-31-06',
 '10-16-22',
 '12-13-32',
 ...}

## urine มีค่า String

In [ ]:
data_alldb['urine'] = data_alldb['urine'].astype('str')
data_alldb.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10-50-32,nan,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,"iPhone13,2",05248,10-14-46,nan,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,"iPhone10,4",05310,11-14-21,nan,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,"iPhone13,2",05248,10-14-32,nan,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,"iPhone13,3",22222,17-39-35,nan,NaN,NaN,data is not completed,data is not completed

In [ ]:
set(data_alldb['urine'])

{'nan',
 'ขุ่น',
 'ขุ่น, มีตะกอน',
 'ขุ่น, มีตะกอน, มีเม็ดเลือดแดง',
 'ขุ่น, มีตะกอน, สีเหลืองส้ม (ผิดปกติ)',
 'ขุ่น, มีเม็ดเลือดแดง',
 'ขุ่น, สีน้ำนม',
 'ขุ่น, สีเหลืองส้ม (ผิดปกติ)',
 'ขุ่น, ใส่เป็นน้ำเปล่า',
 'ปกติ (เหลืองใส)',
 'ปกติ (เหลืองใส), ขุ่น',
 'ปกติ (เหลืองใส), ขุ่น, มีตะกอน',
 'ปกติ (เหลืองใส), มีตะกอน',
 'ปกติ (เหลืองใส), มีตะกอน, สีเหลืองส้ม (ผิดปกติ)',
 'ปกติ (เหลืองใส), มีเม็ดเลือดแดง',
 'ปกติ (เหลืองใส), สีน้ำนม',
 'ปกติ (เหลืองใส), สีเหลืองส้ม (ผิดปกติ)',
 'ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า',
 'ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า, สีน้ำนม',
 'มีตะกอน',
 'มีตะกอน, มีเม็ดเลือดแดง',
 'มีตะกอน, มีเม็ดเลือดแดง, สีเหลืองส้ม (ผิดปกติ)',
 'มีตะกอน, มีเลือดปน',
 'มีตะกอน, สีเหลืองส้ม (ผิดปกติ)',
 'มีตะกอน, ใส่เป็นน้ำเปล่า',
 'มีเม็ดเลือดแดง',
 'มีเลือดปน',
 'มีเลือดปน, สีเหลืองส้ม (ผิดปกติ)',
 'สีน้ำนม',
 'สีฟ้า หรือน้ำเงิน',
 'สีเหลืองส้ม (ผิดปกติ)',
 'ใสเป็นน้ำเปล่า',
 'ใส่เป็นน้ำเปล่า',
 'ใส่เป็นน้ำเปล่า, สีฟ้า หรือน้ำเงิน'}

## ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 
(0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)

In [ ]:
import numpy as np

In [ ]:
set(data_alldb['ov'])

{'0', '1', '2', '3', '4', nan, 'ติดเชื้อ +2 '}

In [ ]:
data_alldb['ov'] = pd.to_numeric(data_alldb['ov'], errors='coerce') # เปลี่ยนให้เป็นตัวเลขเท่านั้น
data_alldb = data_alldb.replace(np.nan, 0, regex=True)    # เปลี่ยนจากค่าว่างให้เป็น 0
data_alldb['ov'] = data_alldb['ov'].astype(int)    # เปลี่ยน type ของ ov ให้เป็น

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
set(data_alldb['ov'])

{0, 1, 2, 3, 4}

## PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [ ]:
data_alldb = data_alldb[(data_all['PartitionKey'].astype(str).str.isdigit())& (data_all['PartitionKey'].str.len() == 5)]
data_alldb

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000,0,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,0,0
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,0,0
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,0,0
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,0,0
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,0,0

In [ ]:
set(data_alldb['PartitionKey'])

{'01867',
 '01537',
 '03088',
 '06028',
 '02284',
 '10998',
 '01788',
 '00182',
 '01449',
 '00963',
 '01833',
 '01155',
 '02332',
 '72093',
 '05125',
 '01401',
 '10979',
 '03804',
 '01606',
 '00359',
 '45972',
 '01976',
 '00840',
 '00602',
 '00727',
 '01650',
 '02034',
 '02622',
 '00808',
 '02900',
 '00474',
 '03181',
 '00504',
 '00351',
 '02599',
 '00257',
 '01189',
 '05828',
 '05248',
 '01807',
 '00875',
 '00955',
 '02779',
 '00292',
 '04654',
 '02602',
 '00644',
 '01892',
 '03101',
 '02264',
 '02507',
 '01293',
 '00065',
 '05111',
 '00117',
 '00134',
 '09020',
 '02680',
 '02594',
 '00646',
 '00901',
 '02510',
 '01357',
 '00571',
 '00707',
 '02752',
 '01113',
 '00212',
 '00674',
 '00995',
 '01743',
 '01713',
 '01886',
 '00374',
 '00123',
 '00705',
 '01500',
 '03049',
 '09013',
 '01578',
 '02743',
 '02771',
 '04180',
 '08923',
 '00185',
 '03244',
 '01356',
 '01882',
 '02498',
 '00629',
 '02880',
 '04678',
 '02990',
 '03487',
 '00459',
 '04800',
 '00666',
 '01007',
 '02147',
 '03496',
 '04624',
 '02045',
 '00845',
 '00302',
 '01204',
 '02304',
 '01501',
 '02100',
 '01212',
 '00784',
 '09004',
 '00547',
 '08995',
 '01091',
 '00055',
 '02993',
 '00131',
 '00250',
 '01932',
 '08964',
 '00146',
 '00458',
 '00029',
 '00690',
 '05263',
 '00269',
 '00261',
 '00060',
 '01973',
 '01125',
 '00007',
 '01447',
 '01921',
 '10964',
 '01334',
 '00765',
 '01455',
 '01320',
 '04137',
 '02857',
 '03261',
 '10986',
 '00758',
 '08938',
 '03383',
 '02623',
 '01836',
 '00893',
 '04736',
 '08950',
 '01774',
 '04015',
 '02119',
 '02195',
 '00850',
 '01324',
 '00999',
 '00173',
 '01168',
 '00675',
 '00305',
 '03405',
 '02380',
 '01451',
 '00018',
 '01539',
 '02248',
 '00848',
 '02353',
 '02930',
 '04666',
 '05113',
 '00171',
 '02013',
 '06059',
 '01123',
 '02074',
 '02799',
 '00108',
 '02282',
 '05262',
 '00382',
 '03408',
 '01623',
 '01241',
 '00655',
 '01789',
 '01869',
 '05280',
 '01020',
 '01726',
 '00520',
 '06724',
 '02267',
 '00541',
 '02819',
 '02861',
 '00632',
 '00946',
 '04347',
 '03220',
 '00731',
 '02004',
 '00681',
 '06043',
 '03933',
 '00747',
 '02877',
 '00016',
 '02009',
 '05962',
 '60202',
 '03225',
 '01660',
 '00415',
 '01861',
 '04001',
 '02592',
 '00354',
 '01819',
 '01149',
 '02273',
 '00709',
 '01297',
 '00600',
 '01600',
 '01609',
 '00006',
 '02335',
 '03359',
 '00489',
 '00759',
 '00172',
 '02389',
 '01192',
 '00475',
 '00486',
 '05202',
 '00063',
 '01032',
 '01626',
 '00378',
 '03061',
 '01877',
 '00975',
 '06044',
 '02107',
 '03334',
 '00615',
 '03979',
 '01001',
 '00014',
 '00748',
 '01551',
 '05724',
 '06011',
 '01275',
 '10972',
 '01529',
 '02794',
 '00384',
 '04622',
 '05139',
 '01773',
 '02051',
 '08596',
 '01468',
 '00503',
 '01816',
 '06001',
 '02499',
 '00074',
 '00673',
 '00668',
 '01354',
 '05727',
 '01399',
 '00721',
 '00842',
 '01043',
 '01740',
 '01997',
 '02620',
 '04730',
 '02243',
 '00931',
 '00895',
 '01966',
 '01379',
 '03151',
 '00324',
 '00889',
 '01629',
 '04632',
 '04084',
 '09014',
 '06066',
 '00906',
 '00215',
 '02341',
 '00581',
 '00916',
 '01994',
 '00337',
 '00396',
 '00140',
 '02639',
 '00868',
 '02162',
 '00877',
 '00767',
 '00445',
 '00606',
 '00078',
 '01255',
 '01469',
 '00631',
 '00204',
 '01096',
 '01993',
 '10996',
 '01533',
 '02153',
 '01221',
 '02808',
 '00539',
 '02399',
 '08922',
 '00464',
 '00943',
 '03454',
 '05318',
 '08977',
 '00297',
 '00343',
 '01942',
 '01890',
 '00295',
 '02534',
 '04648',
 '01321',
 '01059',
 '02167',
 '08115',
 '00350',
 '00319',
 '03187',
 '01646',
 '02664',
 '00015',
 '01418',
 '03298',
 '06062',
 '01581',
 '04072',
 '44147',
 '00309',
 '00267',
 '01841',
 '00692',
 '02741',
 '04191',
 '04671',
 '01238',
 '04059',
 '02454',
 '04685',
 '09009',
 '02739',
 '01215',
 '01235',
 '02766',
 '01154',
 '00159',
 '03291',
 '03433',
 '02604',
 '01248',
 '00373',
 '02085',
 '04143',
 '01513',
 '00363',
 '01691',
 '02216',
 '01772',
 '09022',
 '00870',
 '01514',
 '06025',
 '01590',
 '01461',
 '00341',
 '02621',
 '01491',
 '00774',
 '02066',
 '00593',
 '02160',
 '02631',
 '02845',
 '05973',
 '08935',
 '00772',
 '04672',
 '01142',
 '01763',
 '00121',
 '03326',
 '05974',
 '01342',
 '01711',
 '01851',
 '02517',
 '02946',
 '03273',
 '00956',
 '02516',
 '08984',
 '05146',
 '03507',
 '02619',
 '04039',
 '08900',
 '08947',
 '01362',
 '02862',
 '08981',
 '01641',
 '02775',
 '01026',
 '00177',
 '00576',
 '00896',
 '00353',
 '01405',
 '10999',
 '01263',
 '02000',
 '04639',
 '01516',
 '00328',
 '02166',
 '02397',
 '00271',
 '01462',
 '03327',
 '00665',
 '00555',
 '04618',
 '00346',
 '10963',
 '01389',
 '02875',
 '00196',
 '00902',
 '01528',
 '01526',
 '00980',
 '02429',
 '00781',
 '01015',
 '02094',
 '01289',
 '00216',
 '00284',
 '01373',
 '01735',
 '02431',
 '00019',
 '02435',
 '03515',
 '05984',
 '00424',
 '00625',
 '08933',
 '08931',
 '01023',
 '00639',
 '05396',
 '00502',
 '00514',
 '06033',
 '01672',
 '04675',
 '08503',
 '01848',
 '00542',
 '02175',
 '00086',
 '00590',
 '00229',
 '02056',
 '01175',
 '00198',
 '00898',
 '03165',
 '02123',
 '01435',
 '05310',
 '00678',
 '01746',
 '02824',
 '01139',
 '01290',
 '02139',
 '01959',
 '02979',
 '06013',
 '03305',
 '00005',
 '00575',
 '00585',
 '03155',
 '09030',
 '02313',
 '03504',
 '05118',
 '05219',
 '01309',
 '02417',
 '04637',
 '03939',
 '00176',
 '00090',
 '02866',
 '00394',
 '01903',
 '02254',
 '03108',
 '00397',
 '01351',
 '05255',
 '00094',
 '00817',
 '00296',
 '00046',
 '01281',
 '01419',
 '02014',
 '01790',
 '04633',
 '01829',
 '00885',
 '02163',
 '02928',
 '04658',
 '00286',
 '03240',
 '03542',
 '02032',
 '03033',
 '06262',
 '03464',
 '01484',
 '03997',
 '01119',
 '00218',
 '00481',
 '02455',
 '02781',
 '00463',
 '05723',
 '06045',
 '01794',
 '03019',
 '01572',
 '01589',
 '03877',
 '00148',
 '03014',
 '03096',
 '01532',
 '00512',
 '01945',
 '03483',
 '00299',
 '03093',
 '03179',
 '10989',
 '00880',
 '00334',
 '01496',
 '02022',
 '00519',
 '02206',
 '02333',
 '04793',
 '01197',
 '01669',
 '03300',
 '01210',
 '00559',
 '02932',
 '08979',
 '02504',
 '01355',
 '03039',
 '01466',
 '01410',
 '00291',
 '04020',
 '00013',
 '03313',
 '01116',
 '00306',
 '02708',
 '02466',
 '01437',
 '01865',
 '06018',
 '00482',
 '01575',
 '02531',
 '06022',
 '00786',
 '05983',
 '02116',
 '01335',
 '00549',
 '01811',
 '00924',
 '01090',
 '01098',
 '02871',
 '03106',
 '01361',
 '02944',
 '00536',
 '01912',
 '01696',
 '00268',
 '00280',
 '02001',
 '05119',
 '01665',
 '09018',
 '04738',
 '02548',
 '04680',
 '04186',
 '01818',
 '00352',
 '00989',
 '00648',
 '01287',
 '05094',
 '02813',
 '00096',
 '01574',
 '00253',
 '02457',
 '03363',
 '00614',
 '08909',
 '00854',
 '00155',
 '00715',
 '01803',
 '02378',
 '08906',
 '00249',
 '08477',
 '01341',
 '00883',
 '00770',
 '01061',
 '00787',
 '00793',
 '01548',
 '01138',
 '01384',
 '01582',
 '01850',
 '02643',
 '00020',
 '01180',
 '03394',
 '05785',
 '02949',
 '01385',
 '02936',
 '01849',
 '02784',
 '05228',
 '02069',
 '01202',
 '01721',
 '04789',
 '01230',
 '01737',
 '10506',
 '01383',
 '01855',
 '02050',
 '06015',
 '02291',
 '10971',
 '05109',
 '05963',
 '00105',
 '00948',
 '02078',
 '01673',
 '01444',
 '04717',
 '00478',
 '03416',
 '04629',
 '02761',
 '01311',
 '08960',
 '00318',
 '00844',
 '01659',
 '00872',
 '02755',
 '00973',
 '00621',
 '02253',
 '01350',
 '02519',
 '02627',
 '00381',
 '02491',
 '06000',
 '10967',
 '08925',
 '03503',
 '03105',
 '00188',
 '01908',
 '00298',
 '02320',
 '01968',
 '01647',
 '01187',
 '01835',
 '01002',
 '01717',
 '00738',
 '01394',
 '00492',
 '00797',
 '02844',
 '04664',
 '01964',
 '03140',
 '02859',
 '01947',
 '05997',
 '09021',
 '01049',
 '02904',
 '02836',
 '10977',
 '02020',
 '04626',
 '02077',
 '09023',
 '01473',
 '01949',
 '02598',
 '01349',
 '00116',
 '01927',
 '00048',
 '00909',
 '08926',
 '02892',
 '00743',
 '05995',
 '01887',
 '04061',
 '02279',
 '04646',
 '06050',
 '05308',
 '01407',
 '00588',
 '01702',
 '08929',
 '05110',
 '00824',
 '00258',
 '03078',
 '09040',
 '01359',
 '00530',
 '03319',
 '01716',
 '00516',
 '05227',
 '00926',
 '06051',
 '00540',
 '03386',
 '00051',
 '01614',
 '00511',
 '00333',
 '00861',
 '02142',
 '00310',
 '02269',
 '00961',
 '00524',
 '01598',
 '03296',
 '10984',
 '01108',
 '02931',
 '02791',
 '08351',
 '00832',
 '00035',
 '01331',
 '01456',
 '00448',
 '02490',
 '02544',
 '01225',
 '01382',
 '02640',
 '02975',
 '02488',
 '01072',
 '00717',
 '01499',
 '01441',
 '00251',
 '01924',
 '05195',
 '02728',
 '01326',
 '02677',
 '08278',
 '00497',
 '03197',
 '00994',
 '00386',
 '01459',
 '01460',
 '01006',
 '00064',
 '00193',
 '01639',
 '02060',
 '02943',
 '06040',
 '02999',
 '02095',
 '00420',
 '01095',
 '00804',
 '06726',
 '01769',
 '01625',
 '01587',
 '04052',
 '02905',
 '02165',
 '02763',
 '02860',
 '01367',
 '01856',
 '02704',
 '02061',
 '04674',
 '01094',
 '02201',
 '01561',
 '01188',
 '05130',
 '00658',
 '02423',
 '02768',
 '01825',
 '00220',
 '00553',
 '01089',
 '01605',
 '02327',
 '02821',
 '03612',
 '00609',
 '02470',
 '02456',
 '03111',
 '04080',
 '03237',
 '01454',
 '00401',
 '01603',
 '04188',
 '10993',
 '00195',
 '00647',
 '00508',
 '01663',
 '01165',
 '03510',
 '03541',
 '00211',
 '00483',
 '00290',
 '00129',
 '01507',
 '02338',
 '02676',
 '01982',
 '00026',
 '02764',
 '08991',
 '05223',
 '02909',
 '02852',
 '02097',
 '01757',
 '05981',
 '01643',
 '01640',
 '01193',
 '00724',
 '02596',
 '04732',
 '08992',
 '04695',
 '01755',
 '00144',
 '00833',
 '03063',
 '02210',
 '01078',
 '02402',
 '01014',
 '06023',
 '00375',
 '01954',
 '00624',
 '02041',
 '03126',
 '02678',
 '05117',
 '01055',
 '02494',
 '10992',
 '03194',
 '00124',
 '01183',
 '00928',
 '00661',
 '01102',
 '05127',
 '00651',
 '03384',
 '00470',
 '01150',
 '08934',
 '01925',
 '02224',
 '02882',
 '01112',
 '00047',
 '00533',
 '02207',
 '00113',
 '00708',
 '01404',
 '00107',
 '00649',
 '00915',
 '02687',
 '01859',
 '00929',
 '01211',
 '00278',
 '02856',
 '00729',
 '01207',
 '03312',
 '02011',
 '01107',
 '01284',
 '06030',
 '02152',
 '01104',
 '01120',
 '00413',
 '01166',
 '01731',
 '01585',
 '01631',
 '01392',
 '01687',
 '01056',
 '01566',
 '01729',
 '01703',
 '00025',
 ...}

In [ ]:
data_alldb

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000,0,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,0,0
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,0,0
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,0,0
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,0,0
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,0,0

## แก้ค่า title

In [ ]:
set(data_alldb['title'])

{'  นาง',
 ' นาง',
 ' นางสาว',
 ' นาย',
 0,
 'Mrs',
 'ชาย',
 'ด.ช.',
 'ด.ญ.',
 'ด.ต.',
 'น',
 'น.ส',
 'น.ส ',
 'น.ส.',
 'นส',
 'นส.',
 'นส. ',
 'นาง',
 'นาง ',
 'นาง.',
 'นางl',
 'นางสาว',
 'นางสาว ',
 'นางสาว                   ',
 'นาน',
 'นาบ',
 'นาย',
 'นาย ',
 'นาย  ',
 'นาว',
 'นาวสาว',
 'นา่ง',
 'น่าย',
 'พจอ.',
 'พระ',
 'พระครุ',
 'พระปลัด',
 'พลฯ',
 'ร.ต.',
 'ร.ต.ต.',
 'ร.ต.ท.',
 'ร.ต.อ.',
 'รต.',
 'ว่าที่ ร.ต.',
 'ว่าที่ ร.ท.',
 'ว่าที่ร้อยตรี',
 'ส.อ.',
 'ืนาง',
 'เด็กชาย',
 'เด็กหญิง'}

In [ ]:
#เปลี่ยนคอลัมน์ title เป็นเพศ

data_alldb['title'].replace({'  นาง':'หญิง',
                    ' นาง':'หญิง',
                    ' นางสาว':'หญิง',
                    ' นาย':'ชาย',
                    'Mrs':'หญิง',
                    'ชาย':'ชาย',
                    'ด.ช.':'ชาย',
                    'ด.ญ.':'หญิง',
                    'ด.ต.':'ไม่ระบุ',
                    'น':'ไม่ระบุ',
                    'น.ส':'หญิง',
                    'น.ส ':'หญิง',
                    'น.ส.':'หญิง',
                    'นส':'หญิง',
                    'นส.':'หญิง',
                    'นส. ':'หญิง',
                    'นาง':'หญิง',
                    'นาง ':'หญิง',
                    'นาง.':'หญิง',
                    'นางl':'หญิง',
                    'นางสาว':'หญิง',
                    'นางสาว ':'หญิง',
                    'นางสาว  ':'หญิง',
                    'นาน':'ชาย',
                    'นาบ':'ชาย',
                    'นาย':'ชาย',
                    'นาย ':'ชาย',
                    'นาย  ':'ชาย',
                    'นาว':'หญิง',
                    'นาวสาว':'หญิง',
                    'นา่ง':'หญิง',
                    'น่าย':'ชาย',
                    'พจอ.':'ไม่ระบุ',
                    'พระ':'ชาย',
                    'พระครุ':'ไม่ระบุ',
                    'พระปลัด':'ไม่ระบุ',
                    'พลฯ':'ไม่ระบุ',
                    'ร.ต.':'ไม่ระบุ',
                    'ร.ต.ต.':'ไม่ระบุ',
                    'ร.ต.ท.':'ไม่ระบุ',
                    'ร.ต.อ.':'ไม่ระบุ',
                    'รต.':'ไม่ระบุ',
                    'ว่าที่ ร.ต.':'ไม่ระบุ',
                    'ว่าที่ ร.ท.':'ไม่ระบุ',
                    'ว่าที่ร้อยตรี':'ไม่ระบุ',
                    0:'ไม่ระบุ',
                    'data is not completed':'ไม่ระบุ',
                    'okp':'ไม่ระบุ',
                    'ส.อ.':'ไม่ระบุ',
                    'ืนาง':'หญิง',
                    'เด็กชาย':'ชาย',
                    'นางสาว                   ':'หญิง',
                    'เด็กหญิง':'หญิง'},inplace=True)

In [ ]:
set(data_alldb['title'])

{'ชาย', 'หญิง', 'ไม่ระบุ'}

In [ ]:
data_alldb = data_alldb.rename(columns={'title':'sex'})  # เปลี่ยนชื่อคอลัมน์จาก title เป็น sex
data_alldb

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,sex,age
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000,ไม่ระบุ,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,ชาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,ไม่ระบุ,0
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,ไม่ระบุ,0
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,ไม่ระบุ,0
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,ไม่ระบุ,0
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,ไม่ระบุ,0

# นำเข้าข้อมูล hospital_list.xlsx

In [ ]:
hospital_file = os.path.join(path,'hospital_list.xlsx')
data_hospital = pd.read_excel(hospital_file)
data_hospital

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

## ดูประเภทของข้อมูล

In [ ]:
data_hospital.dtypes    #ดู type ของข้อมูล

hcode             object
name              object
zone_code          int64
zone_name         object
provincecode     float64
province          object
amphurcode       float64
amphur            object
tamboncode       float64
tambon            object
code4            float64
name5             object
code9            float64
name10            object
short_thai        object
short_english     object
dtype: object

## เลือกเฉพาะคอลัมน์ที่ต้องการ

In [ ]:
data_hospital= data_hospital[['hcode','name','zone_name','province','amphur','tambon','name5']]   # กำหนดให้ตารางชื่อ data_alldb_df โดยทำการเลือกเก็บข้อมูลในตาราง data_alldb จำนวนทั้งหมด 9  คอลัมน์ 
data_hospital

,hcode,name,zone_name,province,amphur,tambon,name5
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

## เปลี่ยนชื่อคอลัมน์

In [ ]:
data_hospital = data_hospital.rename(columns={'name5':'type'})  #     เปลี่ยนชื่อ คอลัมน์ name5 ให้ชื่อคอลัมน์เป็น type
data_hospital

,hcode,name,zone_name,province,amphur,tambon,type
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

## ตรวจสอบเเละแทนค่า Missing ด้วยค่าที่เหมาะสม

In [ ]:
data_hospital.isnull().any() #ดูค่า Missing รายคอลัมน์ของตาราง

hcode        False
name          True
zone_name     True
province     False
amphur        True
tambon        True
type          True
dtype: bool

In [ ]:
data_hospital= data_hospital.fillna(value={'name':'ไม่ระบุ','zone_name':'ไม่ระบุ','amphur':'ไม่ระบุ','tambon':'ไม่ระบุ','type':'ไม่ระบุ'}) #แทน missing ด้วยค่าที่เหมาะสม 
data_hospital # แสดงตาราง data_hospital_list_df

,hcode,name,zone_name,province,amphur,tambon,type
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

In [ ]:
data_hospital.isnull().any() #ดูค่า Missing รายคอลัมน์ของตาราง

hcode        False
name         False
zone_name    False
province     False
amphur       False
tambon       False
type         False
dtype: bool

# รวมตาราง

In [ ]:
data_final = data_alldb.merge(data_hospital,how='left', left_on='site',right_on='hcode')
data_final

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,sex,age,hcode,name,zone_name,province,amphur,tambon,type
0,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000,ไม่ระบุ,0,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง,โรงพยาบาล นอก สธ.
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,หญิง,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,หญิง,41,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,หญิง,55,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,ชาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38377,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,ไม่ระบุ,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38378,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,ไม่ระบุ,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38379,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,ไม่ระบุ,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38380,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,ไม่ระบุ,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38381,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,ไม่ระบุ,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data_final.isnull().any() #ดูค่า Missing รายคอลัมน์ของตาราง

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
sex             False
age             False
hcode            True
name             True
zone_name        True
province         True
amphur           True
tambon           True
type             True
dtype: bool

In [ ]:
data_final= data_final.fillna(value={'hcode':'ไม่ระบุ','name':'ไม่ระบุ','zone_name':'ไม่ระบุ','province':'ไม่ระบุ','amphur':'ไม่ระบุ','tambon':'ไม่ระบุ','type':'ไม่ระบุ'}) #แทน missing ด้วยค่าที่เหมาะสม 
data_final # แสดงตาราง data_hospital_list_df

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,sex,age,hcode,name,zone_name,province,amphur,tambon,type
0,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000,ไม่ระบุ,0,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง,โรงพยาบาล นอก สธ.
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,หญิง,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,หญิง,41,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,หญิง,55,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,ชาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38377,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,ไม่ระบุ,0,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38378,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,ไม่ระบุ,0,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38379,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,ไม่ระบุ,0,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38380,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,ไม่ระบุ,0,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38381,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,ไม่ระบุ,0,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

In [ ]:
data_final.isnull().any() #ดูค่า Missing รายคอลัมน์ของตาราง

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
sex             False
age             False
hcode           False
name            False
zone_name       False
province        False
amphur          False
tambon          False
type            False
dtype: bool

In [ ]:
data_final

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,sex,age,hcode,name,zone_name,province,amphur,tambon,type
0,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000,ไม่ระบุ,0,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง,โรงพยาบาล นอก สธ.
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,หญิง,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,หญิง,41,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,หญิง,55,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,ชาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38377,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,ไม่ระบุ,0,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38378,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,ไม่ระบุ,0,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38379,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,ไม่ระบุ,0,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38380,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,ไม่ระบุ,0,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
38381,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,ไม่ระบุ,0,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

# นำข้อมูลไปใช้ทำ Dashboard

In [ ]:
data_final.to_csv(os.path.join(path,'Data.csv'))   # save ตารางให้เป็นไฟล์ csv เข้าไปเก็บไว้ใน drive เพื่อนำข้อมูลไปใช้ทำ Dashboard